@media only screen and (max-width: 800px) {
  main {
    background: -webkit-gradient(linear, left top, left bottom, from(#5585BC), color-stop(163.73%, rgba(85, 133, 188, 0)));
    background: linear-gradient(180deg, #5585BC 0%, rgba(85, 133, 188, 0) 163.73%);
  }
  main .not-found {
    font-family: "Source Sans Pro", sans-serif;
    color: #fff;
    text-align: center;
  }
  main .not-found .page-content {
    padding-top: 30vw;
    padding-bottom: 60%;
  }
  main .not-found .page-content .error .error-header {
    font-size: 48px;
  }
  main .not-found .page-content .error .error-content {
    font-size: 32px;
  }
  main .not-found .page-content .error .error-rectangle {
    width: 50px;
    height: 6px;
    margin: 20px auto;
    background-color: #fff;
  }
  main .not-found .page-content .error .error-return {
    font-size: 18px;
  }
  main .not-found .page-content .error .error-return a:link, main .not-found .page-content .error .error-return a:visited {
    color: #fff;
    background: -webkit-gradient(linear, left top, left bottom, from(#5585BC), color-stop(200.73%, rgba(85, 133, 188, 0)));
    background: linear-gradient(180deg, #5585BC 0%, rgba(85, 133, 188, 0) 200.73%);
    padding: 8px 14px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
}

@media only screen and (max-width: 485px) {
  main {
    background: -webkit-gradient(linear, left top, left bottom, from(#5585BC), color-stop(163.73%, rgba(85, 133, 188, 0)));
    background: linear-gradient(180deg, #5585BC 0%, rgba(85, 133, 188, 0) 163.73%);
  }
  main .not-found {
    font-family: "Source Sans Pro", sans-serif;
    color: #fff;
    text-align: center;
  }
  main .not-found .page-content {
    padding-top: 35vw;
    padding-bottom: 70%;
  }
  main .not-found .page-content .error .error-header {
    font-size: 32px;
  }
  main .not-found .page-content .error .error-content {
    font-size: 24px;
  }
  main .not-found .page-content .error .error-rectangle {
    width: 50px;
    height: 6px;
    margin: 20px auto;
    background-color: #fff;
  }
  main .not-found .page-content .error .error-return {
    font-size: 16px;
  }
  main .not-found .page-content .error .error-return a:link, main .not-found .page-content .error .error-return a:visited {
    color: #fff;
    background: -webkit-gradient(linear, left top, left bottom, from(#5585BC), color-stop(200.73%, rgba(85, 133, 188, 0)));
    background: linear-gradient(180deg, #5585BC 0%, rgba(85, 133, 188, 0) 200.73%);
    padding: 8px 14px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
}

@media only screen and (min-width: 800px) {
  main {
    background: -webkit-gradient(linear, left top, left bottom, from(#5585BC), color-stop(163.73%, rgba(85, 133, 188, 0)));
    background: linear-gradient(180deg, #5585BC 0%, rgba(85, 133, 188, 0) 163.73%);
  }
  main .not-found {
    font-family: "Source Sans Pro", sans-serif;
    color: #fff;
    text-align: center;
  }
  main .not-found .page-content {
    padding-top: 15vw;
    padding-bottom: 60%;
  }
  main .not-found .page-content .error .error-header {
    font-size: 7.5vw;
  }
  main .not-found .page-content .error .error-content {
    font-size: 4vw;
  }
  main .not-found .page-content .error .error-rectangle {
    width: 50px;
    height: 8px;
    margin: 20px auto;
    background-color: #fff;
  }
  main .not-found .page-content .error .error-return {
    font-size: 2vw;
  }
  main .not-found .page-content .error .error-return a:link, main .not-found .page-content .error .error-return a:visited {
    color: #fff;
    background: -webkit-gradient(linear, left top, left bottom, from(#5585BC), color-stop(200.73%, rgba(85, 133, 188, 0)));
    background: linear-gradient(180deg, #5585BC 0%, rgba(85, 133, 188, 0) 200.73%);
    padding: 12px 18px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
}
/*# sourceMappingURL=404.css.map */