@media only screen and (max-width: 350px) {
  main {
    background: -webkit-gradient(linear, left top, left bottom, from(#5585BC), color-stop(163.73%, rgba(85, 133, 188, 0)));
    background: linear-gradient(180deg, #5585BC 0%, rgba(85, 133, 188, 0) 163.73%);
  }
  main .entry-content .woocommerce .woocommerce-cart-form table.shop_table .cart_item td.product-price {
    display: none;
  }
}

@media only screen and (max-width: 775px) {
  main {
    background: -webkit-gradient(linear, left top, left bottom, from(#5585BC), color-stop(163.73%, rgba(85, 133, 188, 0)));
    background: linear-gradient(180deg, #5585BC 0%, rgba(85, 133, 188, 0) 163.73%);
    padding-bottom: 16vw;
  }
  main .entry-header {
    margin: 40px 8%;
  }
  main .entry-header h1 {
    font-family: "Grenze", serif;
    font-weight: 400;
    color: #fff;
  }
  main .entry-content {
    font-family: "Source Sans Pro", sans-serif;
    margin: 0px 6%;
    padding: 4%;
    background-color: rgba(255, 255, 255, 0.9);
  }
  main .entry-content .entry-content-cart-header {
    font-size: 21px;
    padding: 6% 0px;
    border-bottom: solid 1px #cdcdcd;
  }
  main .entry-content .woocommerce {
    padding: 4% 0px;
  }
  main .entry-content .woocommerce .return-to-shop {
    margin-top: 20px;
  }
  main .entry-content .woocommerce .return-to-shop a:link, main .entry-content .woocommerce .return-to-shop a:visited {
    background: linear-gradient(170.06deg, #5585BC -178.5%, #FFFFFF 404.4%);
    color: #fff;
    text-decoration: none;
    padding: 2vw 6vw;
  }
  main .entry-content .woocommerce .woocommerce-notices-wrapper {
    padding: 10px 0px;
  }
  main .entry-content .woocommerce .woocommerce-notices-wrapper ul {
    list-style: none;
  }
  main .entry-content .woocommerce .woocommerce-cart-form .actions .button {
    margin-top: 5px;
  }
  main .entry-content .woocommerce .woocommerce-cart-form .actions .coupon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 10px 0px;
  }
  main .entry-content .woocommerce .woocommerce-cart-form .actions .coupon label, main .entry-content .woocommerce .woocommerce-cart-form .actions .coupon .input-text, main .entry-content .woocommerce .woocommerce-cart-form .actions .coupon .button {
    margin-top: 10px;
    margin-right: 10px;
  }
  main .entry-content .woocommerce .woocommerce-cart-form table.shop_table tbody {
    border-bottom: solid 1px #cdcdcd;
  }
  main .entry-content .woocommerce .woocommerce-cart-form table.shop_table thead {
    display: none;
  }
  main .entry-content .woocommerce .woocommerce-cart-form table.shop_table .cart_item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 1vw 0px;
  }
  main .entry-content .woocommerce .woocommerce-cart-form table.shop_table .cart_item td {
    padding-left: 2vw;
  }
  main .entry-content .woocommerce .woocommerce-cart-form table.shop_table .cart_item td.product-remove a:link, main .entry-content .woocommerce .woocommerce-cart-form table.shop_table .cart_item td.product-remove a:visited {
    color: #000;
    text-decoration: none;
    font-size: 20px;
  }
  main .entry-content .woocommerce .woocommerce-cart-form table.shop_table .cart_item td.product-name a:link, main .entry-content .woocommerce .woocommerce-cart-form table.shop_table .cart_item td.product-name a:visited {
    color: #000;
    font-weight: bold;
    text-decoration: none;
  }
  main .entry-content .woocommerce .woocommerce-cart-form table.shop_table .cart_item td.product-thumbnail img {
    width: 50px;
    height: 50px;
  }
  main .entry-content .woocommerce .cart-collaterals {
    margin-top: 6vw;
    padding-top: 4vw;
    border-top: solid 1px #cdcdcd;
  }
  main .entry-content .woocommerce .cart-collaterals .cart_totals h2 {
    display: none;
  }
  main .entry-content .woocommerce .cart-collaterals .cart_totals table.shop_table tr th {
    float: left;
  }
  main .entry-content .woocommerce .cart-collaterals .cart_totals table.shop_table tr td {
    float: right;
    margin-left: 6vw;
  }
  main .entry-content .woocommerce .cart-collaterals .cart_totals table.shop_table tr::after {
    content: "";
    clear: both;
    display: table;
  }
  main .entry-content .woocommerce .cart-collaterals .cart_totals .wc-proceed-to-checkout {
    margin-top: 6vw;
  }
  main .entry-content .woocommerce .cart-collaterals .cart_totals .wc-proceed-to-checkout a:link, main .entry-content .woocommerce .cart-collaterals .cart_totals .wc-proceed-to-checkout a:visited {
    background: linear-gradient(170.06deg, #5585BC -178.5%, #FFFFFF 404.4%);
    color: #fff;
    text-decoration: none;
    padding: 2vw 6vw;
    margin: 0px auto;
  }
}

@media only screen and (min-width: 775px) {
  main {
    background: -webkit-gradient(linear, left top, left bottom, from(#5585BC), color-stop(163.73%, rgba(85, 133, 188, 0)));
    background: linear-gradient(180deg, #5585BC 0%, rgba(85, 133, 188, 0) 163.73%);
    padding-bottom: 16vw;
  }
  main .entry-header {
    margin: 40px 6%;
    margin-top: 8%;
  }
  main .entry-header h1 {
    font-family: "Grenze", serif;
    font-weight: 400;
    color: #fff;
    font-size: 4vw;
  }
  main .entry-content {
    font-family: "Source Sans Pro", sans-serif;
    margin: 0px 6%;
    padding: 4%;
    background-color: rgba(255, 255, 255, 0.9);
  }
  main .entry-content .entry-content-cart-header {
    font-size: 3.2vw;
    padding: 6% 0px;
    border-bottom: solid 1px #cdcdcd;
  }
  main .entry-content .woocommerce {
    padding: 4% 0px;
  }
  main .entry-content .woocommerce .return-to-shop {
    margin-top: 20px;
  }
  main .entry-content .woocommerce .return-to-shop a:link, main .entry-content .woocommerce .return-to-shop a:visited {
    background: linear-gradient(170.06deg, #5585BC -178.5%, #FFFFFF 404.4%);
    color: #fff;
    text-decoration: none;
    padding: 2vw 6vw;
  }
  main .entry-content .woocommerce .woocommerce-notices-wrapper {
    padding: 10px 0px;
  }
  main .entry-content .woocommerce .woocommerce-notices-wrapper ul {
    list-style: none;
  }
  main .entry-content .woocommerce .woocommerce-cart-form .actions {
    font-size: 2vw;
  }
  main .entry-content .woocommerce .woocommerce-cart-form .actions .button {
    margin-top: 5px;
    font-size: 2vw;
  }
  main .entry-content .woocommerce .woocommerce-cart-form .actions .coupon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 10px 0px;
  }
  main .entry-content .woocommerce .woocommerce-cart-form .actions .coupon label, main .entry-content .woocommerce .woocommerce-cart-form .actions .coupon .input-text, main .entry-content .woocommerce .woocommerce-cart-form .actions .coupon .button {
    font-size: 2vw;
    margin-top: 10px;
    margin-right: 10px;
  }
  main .entry-content .woocommerce .woocommerce-cart-form table.shop_table tbody {
    border-bottom: solid 1px #cdcdcd;
  }
  main .entry-content .woocommerce .woocommerce-cart-form table.shop_table thead {
    display: none;
  }
  main .entry-content .woocommerce .woocommerce-cart-form table.shop_table .cart_item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 1vw 0px;
    font-size: 2vw;
  }
  main .entry-content .woocommerce .woocommerce-cart-form table.shop_table .cart_item td {
    padding-left: 2vw;
  }
  main .entry-content .woocommerce .woocommerce-cart-form table.shop_table .cart_item td.product-remove a:link, main .entry-content .woocommerce .woocommerce-cart-form table.shop_table .cart_item td.product-remove a:visited {
    color: #000;
    text-decoration: none;
    font-size: 24px;
  }
  main .entry-content .woocommerce .woocommerce-cart-form table.shop_table .cart_item td.product-name a:link, main .entry-content .woocommerce .woocommerce-cart-form table.shop_table .cart_item td.product-name a:visited {
    color: #000;
    font-weight: bold;
    text-decoration: none;
  }
  main .entry-content .woocommerce .woocommerce-cart-form table.shop_table .cart_item td.product-thumbnail img {
    width: 10vw;
    height: 10vw;
  }
  main .entry-content .woocommerce .cart-collaterals {
    margin-top: 6vw;
    padding-top: 4vw;
    border-top: solid 1px #cdcdcd;
    font-size: 2vw;
  }
  main .entry-content .woocommerce .cart-collaterals .cart_totals h2 {
    display: none;
  }
  main .entry-content .woocommerce .cart-collaterals .cart_totals table.shop_table tr th {
    float: left;
  }
  main .entry-content .woocommerce .cart-collaterals .cart_totals table.shop_table tr td {
    float: right;
    margin-left: 6vw;
  }
  main .entry-content .woocommerce .cart-collaterals .cart_totals table.shop_table tr::after {
    content: "";
    clear: both;
    display: table;
  }
  main .entry-content .woocommerce .cart-collaterals .cart_totals .wc-proceed-to-checkout {
    margin-top: 6vw;
  }
  main .entry-content .woocommerce .cart-collaterals .cart_totals .wc-proceed-to-checkout a:link, main .entry-content .woocommerce .cart-collaterals .cart_totals .wc-proceed-to-checkout a:visited {
    background: linear-gradient(170.06deg, #5585BC -178.5%, #FFFFFF 404.4%);
    color: #fff;
    text-decoration: none;
    padding: 1.2vw 3vw;
    margin: 0px auto;
  }
}
/*# sourceMappingURL=cart.css.map */