@media only screen and (max-width: 600px) {
  footer {
    background-color: #383838;
    padding-top: 40px;
  }
  footer .contact-info {
    margin: 10px 0px 30px 0px;
  }
  footer .contact-info .contact-info-type {
    font-family: 'Grenze', serif;
    text-align: center;
    margin: 5px 0px 5px 0px;
  }
  footer .contact-info .contact-info-type a {
    font-size: 24px;
  }
  footer .contact-info .contact-info-type a:link {
    text-align: center;
    color: #fff;
    text-decoration: none;
  }
  footer .contact-info .contact-info-type a:visited {
    color: #fff;
    text-decoration: none;
  }
  footer .information-blocks {
    font-family: 'Source Sans Pro', sans-serif;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    padding: 0px 10px 0px 10px;
    padding-bottom: 60px;
  }
  footer .information-blocks .information-block {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  footer .information-blocks .information-block .information-block-title {
    font-weight: 600;
  }
  footer .information-blocks .information-block .information-block-content ul {
    list-style-type: none;
    margin-top: 6px;
  }
  footer .information-blocks .information-block .information-block-content ul li a:link, footer .information-blocks .information-block .information-block-content ul li a:visited {
    color: #fff;
    text-decoration: none;
  }
  footer .copyright {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(-274.98%, #275A9D), color-stop(274.99%, #FFFFFF));
    background-image: linear-gradient(180deg, #275A9D -274.98%, #FFFFFF 274.99%);
    font-family: 'Source Sans Pro', sans-serif;
    color: #fff;
    padding: 2px;
    text-align: center;
    font-size: 14px;
  }
}

@media only screen and (min-width: 600px) {
  footer {
    background-color: #383838;
    padding-top: 40px;
  }
  footer .contact-info {
    margin: 0px 6% 0px 6%;
  }
  footer .contact-info .contact-info-email {
    float: left;
  }
  footer .contact-info .contact-info-phone {
    float: right;
  }
  footer .contact-info .contact-info-type {
    font-family: 'Grenze', serif;
    text-align: center;
    margin: 5px 0px 5px 0px;
  }
  footer .contact-info .contact-info-type a {
    font-size: 3vw;
  }
  footer .contact-info .contact-info-type a:link {
    color: #fff;
    text-decoration: none;
  }
  footer .contact-info .contact-info-type a:visited {
    color: #fff;
    text-decoration: none;
  }
  footer .contact-info::after {
    content: "";
    clear: both;
    display: table;
  }
  footer .information-blocks {
    font-family: 'Source Sans Pro', sans-serif;
    color: #fff;
    padding: 10px 6% 0px 6%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    padding-bottom: 60px;
  }
  footer .information-blocks .information-block {
    padding-top: 20px;
    padding-right: 8%;
  }
  footer .information-blocks .information-block .information-block-title {
    font-weight: 600;
  }
  footer .information-blocks .information-block .information-block-content ul {
    list-style-type: none;
    margin-top: 6px;
  }
  footer .information-blocks .information-block .information-block-content ul li a:link, footer .information-blocks .information-block .information-block-content ul li a:visited {
    color: #fff;
    text-decoration: none;
  }
  footer .copyright {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(-274.98%, #275A9D), color-stop(274.99%, #FFFFFF));
    background-image: linear-gradient(180deg, #275A9D -274.98%, #FFFFFF 274.99%);
    font-family: 'Source Sans Pro', sans-serif;
    color: #fff;
    padding: 2px;
    text-align: center;
    font-size: 14px;
  }
}
/*# sourceMappingURL=footer.css.map */