@media only screen and (max-width: 600px) {
  main {
    background: -webkit-gradient(linear, left top, left bottom, from(#5585BC), color-stop(163.73%, rgba(85, 133, 188, 0)));
    background: linear-gradient(180deg, #5585BC 0%, rgba(85, 133, 188, 0) 163.73%);
  }
  main .entry-header {
    margin: 0px 6%;
    margin-top: 12%;
    margin-bottom: 4%;
  }
  main .entry-header h1 {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    color: #fff;
  }
  main .entry-content {
    padding-bottom: 6%;
  }
  main .entry-content .woocommerce {
    margin-left: 6%;
  }
  main .entry-content .woocommerce .woocommerce-result-count, main .entry-content .woocommerce .woocommerce-ordering {
    display: none;
  }
  main .entry-content .woocommerce .products {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  main .entry-content .woocommerce .products .product {
    background-color: #fff;
    width: 80vw;
    text-align: center;
    padding: 10px;
    padding-top: 20px;
    margin: 15px 5px;
    list-style-type: none;
    overflow: hidden;
  }
  main .entry-content .woocommerce .products .product .woocommerce-loop-product__link:link, main .entry-content .woocommerce .products .product .woocommerce-loop-product__link:visited {
    font-family: "Source Sans Pro", sans-serif;
    display: block;
    text-decoration: none;
    text-align: center;
    margin-bottom: 10px;
  }
  main .entry-content .woocommerce .products .product .woocommerce-loop-product__link:link .onsale, main .entry-content .woocommerce .products .product .woocommerce-loop-product__link:visited .onsale {
    display: none;
  }
  main .entry-content .woocommerce .products .product .woocommerce-loop-product__link:link img, main .entry-content .woocommerce .products .product .woocommerce-loop-product__link:visited img {
    width: 90%;
    height: 90%;
  }
  main .entry-content .woocommerce .products .product .woocommerce-loop-product__link:link .woocommerce-loop-product__title, main .entry-content .woocommerce .products .product .woocommerce-loop-product__link:visited .woocommerce-loop-product__title {
    color: #000;
    margin-top: 10px;
  }
  main .entry-content .woocommerce .products .product .woocommerce-loop-product__link:link .price, main .entry-content .woocommerce .products .product .woocommerce-loop-product__link:visited .price {
    color: #5585BC;
  }
  main .entry-content .woocommerce .products .product .woocommerce-loop-product__link:link .price .woocommerce-Price-amount, main .entry-content .woocommerce .products .product .woocommerce-loop-product__link:visited .price .woocommerce-Price-amount {
    font-weight: bold;
  }
  main .entry-content .woocommerce .products .product .woocommerce-loop-product__link:link .price del, main .entry-content .woocommerce .products .product .woocommerce-loop-product__link:visited .price del {
    margin: 5px;
    -webkit-text-decoration-color: #585858;
            text-decoration-color: #585858;
  }
  main .entry-content .woocommerce .products .product .woocommerce-loop-product__link:link .price del .woocommerce-Price-amount, main .entry-content .woocommerce .products .product .woocommerce-loop-product__link:visited .price del .woocommerce-Price-amount {
    color: #585858;
  }
  main .entry-content .woocommerce .products .product .woocommerce-loop-product__link:link .price ins, main .entry-content .woocommerce .products .product .woocommerce-loop-product__link:visited .price ins {
    margin: 5px;
    text-decoration: none;
  }
  main .entry-content .woocommerce .products .product .woocommerce-loop-product__link:link .price ins .woocommerce-Price-amount, main .entry-content .woocommerce .products .product .woocommerce-loop-product__link:visited .price ins .woocommerce-Price-amount {
    color: #5585BC;
    font-weight: bold;
  }
  main .entry-content .woocommerce .products .product .button:link, main .entry-content .woocommerce .products .product .button:visited {
    display: block;
    font-family: "Source Sans Pro", sans-serif;
    padding: 6px 12px;
    color: #fff;
    background-color: #5585bc;
    text-decoration: none;
    -webkit-transform: translateY(0vw);
            transform: translateY(0vw);
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  main .entry-content .woocommerce .products .product .added_to_cart:link, main .entry-content .woocommerce .products .product .added_to_cart:visited {
    display: block;
    color: #000;
    font-family: "Source Sans Pro", sans-serif;
    padding-top: 10px;
  }
}

@media only screen and (min-width: 600px) and (max-width: 880px) {
  main {
    background: -webkit-gradient(linear, left top, left bottom, from(#5585BC), color-stop(163.73%, rgba(85, 133, 188, 0)));
    background: linear-gradient(180deg, #5585BC 0%, rgba(85, 133, 188, 0) 163.73%);
  }
  main .entry-header {
    margin: 0px 6%;
    margin-top: 10%;
    margin-bottom: 4%;
  }
  main .entry-header h1 {
    font-size: 36px;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    color: #fff;
  }
  main .entry-content {
    padding-bottom: 6%;
  }
  main .entry-content .woocommerce {
    margin-left: 6%;
    margin-right: 14%;
  }
  main .entry-content .woocommerce .woocommerce-result-count, main .entry-content .woocommerce .woocommerce-ordering {
    display: none;
  }
  main .entry-content .woocommerce .products {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  main .entry-content .woocommerce .products .product {
    margin-bottom: 4%;
    background-color: #fff;
    width: 35vw;
    text-align: center;
    padding: 10px;
    padding-top: 20px;
    list-style-type: none;
    overflow: hidden;
  }
  main .entry-content .woocommerce .products .product .woocommerce-loop-product__link:link, main .entry-content .woocommerce .products .product .woocommerce-loop-product__link:visited {
    font-family: "Source Sans Pro", sans-serif;
    display: block;
    text-decoration: none;
    text-align: center;
    margin-bottom: 10px;
  }
  main .entry-content .woocommerce .products .product .woocommerce-loop-product__link:link .onsale, main .entry-content .woocommerce .products .product .woocommerce-loop-product__link:visited .onsale {
    display: none;
  }
  main .entry-content .woocommerce .products .product .woocommerce-loop-product__link:link img, main .entry-content .woocommerce .products .product .woocommerce-loop-product__link:visited img {
    width: 90%;
    height: 90%;
  }
  main .entry-content .woocommerce .products .product .woocommerce-loop-product__link:link .woocommerce-loop-product__title, main .entry-content .woocommerce .products .product .woocommerce-loop-product__link:visited .woocommerce-loop-product__title {
    color: #000;
    margin-top: 10px;
  }
  main .entry-content .woocommerce .products .product .woocommerce-loop-product__link:link .price, main .entry-content .woocommerce .products .product .woocommerce-loop-product__link:visited .price {
    color: #5585BC;
  }
  main .entry-content .woocommerce .products .product .woocommerce-loop-product__link:link .price .woocommerce-Price-amount, main .entry-content .woocommerce .products .product .woocommerce-loop-product__link:visited .price .woocommerce-Price-amount {
    font-weight: bold;
  }
  main .entry-content .woocommerce .products .product .woocommerce-loop-product__link:link .price del, main .entry-content .woocommerce .products .product .woocommerce-loop-product__link:visited .price del {
    margin: 5px;
    -webkit-text-decoration-color: #585858;
            text-decoration-color: #585858;
  }
  main .entry-content .woocommerce .products .product .woocommerce-loop-product__link:link .price del .woocommerce-Price-amount, main .entry-content .woocommerce .products .product .woocommerce-loop-product__link:visited .price del .woocommerce-Price-amount {
    color: #585858;
  }
  main .entry-content .woocommerce .products .product .woocommerce-loop-product__link:link .price ins, main .entry-content .woocommerce .products .product .woocommerce-loop-product__link:visited .price ins {
    margin: 5px;
    text-decoration: none;
  }
  main .entry-content .woocommerce .products .product .woocommerce-loop-product__link:link .price ins .woocommerce-Price-amount, main .entry-content .woocommerce .products .product .woocommerce-loop-product__link:visited .price ins .woocommerce-Price-amount {
    color: #5585BC;
    font-weight: bold;
  }
  main .entry-content .woocommerce .products .product .button:link, main .entry-content .woocommerce .products .product .button:visited {
    display: block;
    font-family: "Source Sans Pro", sans-serif;
    padding: 4px 12px;
    color: #fff;
    background-color: #5585bc;
    text-decoration: none;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  main .entry-content .woocommerce .products .added_to_cart:link, main .entry-content .woocommerce .products .added_to_cart:visited {
    display: block;
    color: #000;
    font-family: "Source Sans Pro", sans-serif;
    padding-top: 10px;
  }
}

@media only screen and (min-width: 880px) {
  main {
    background: -webkit-gradient(linear, left top, left bottom, from(#5585BC), color-stop(163.73%, rgba(85, 133, 188, 0)));
    background: linear-gradient(180deg, #5585BC 0%, rgba(85, 133, 188, 0) 163.73%);
  }
  main .entry-header {
    margin: 0px 6%;
    margin-top: 10%;
    margin-bottom: 4%;
  }
  main .entry-header h1 {
    font-size: 36px;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    color: #fff;
  }
  main .entry-content {
    padding-bottom: 6%;
  }
  main .entry-content .woocommerce {
    margin-left: 6%;
    margin-right: 0%;
  }
  main .entry-content .woocommerce .woocommerce-result-count, main .entry-content .woocommerce .woocommerce-ordering {
    display: none;
  }
  main .entry-content .woocommerce .products {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  main .entry-content .woocommerce .products .product {
    margin-bottom: 4%;
    margin-right: 2%;
    background-color: #fff;
    width: 25vw;
    text-align: center;
    padding: 10px;
    padding-top: 25px;
    list-style-type: none;
    overflow: hidden;
  }
  main .entry-content .woocommerce .products .product .woocommerce-loop-product__link:link, main .entry-content .woocommerce .products .product .woocommerce-loop-product__link:visited {
    font-family: "Source Sans Pro", sans-serif;
    display: block;
    text-decoration: none;
    text-align: center;
    margin-bottom: 10px;
  }
  main .entry-content .woocommerce .products .product .woocommerce-loop-product__link:link .onsale, main .entry-content .woocommerce .products .product .woocommerce-loop-product__link:visited .onsale {
    display: none;
  }
  main .entry-content .woocommerce .products .product .woocommerce-loop-product__link:link img, main .entry-content .woocommerce .products .product .woocommerce-loop-product__link:visited img {
    width: 90%;
    height: 90%;
  }
  main .entry-content .woocommerce .products .product .woocommerce-loop-product__link:link .woocommerce-loop-product__title, main .entry-content .woocommerce .products .product .woocommerce-loop-product__link:visited .woocommerce-loop-product__title {
    color: #000;
    margin-top: 10px;
  }
  main .entry-content .woocommerce .products .product .woocommerce-loop-product__link:link .price, main .entry-content .woocommerce .products .product .woocommerce-loop-product__link:visited .price {
    color: #5585BC;
  }
  main .entry-content .woocommerce .products .product .woocommerce-loop-product__link:link .price .woocommerce-Price-amount, main .entry-content .woocommerce .products .product .woocommerce-loop-product__link:visited .price .woocommerce-Price-amount {
    font-weight: bold;
  }
  main .entry-content .woocommerce .products .product .woocommerce-loop-product__link:link .price del, main .entry-content .woocommerce .products .product .woocommerce-loop-product__link:visited .price del {
    margin: 5px;
    -webkit-text-decoration-color: #585858;
            text-decoration-color: #585858;
  }
  main .entry-content .woocommerce .products .product .woocommerce-loop-product__link:link .price del .woocommerce-Price-amount, main .entry-content .woocommerce .products .product .woocommerce-loop-product__link:visited .price del .woocommerce-Price-amount {
    color: #585858;
  }
  main .entry-content .woocommerce .products .product .woocommerce-loop-product__link:link .price ins, main .entry-content .woocommerce .products .product .woocommerce-loop-product__link:visited .price ins {
    margin: 5px;
    text-decoration: none;
  }
  main .entry-content .woocommerce .products .product .woocommerce-loop-product__link:link .price ins .woocommerce-Price-amount, main .entry-content .woocommerce .products .product .woocommerce-loop-product__link:visited .price ins .woocommerce-Price-amount {
    color: #5585BC;
    font-weight: bold;
  }
  main .entry-content .woocommerce .products .product .button:link, main .entry-content .woocommerce .products .product .button:visited {
    display: block;
    font-family: "Source Sans Pro", sans-serif;
    padding: 4px 12px;
    color: #fff;
    background-color: #5585bc;
    text-decoration: none;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  main .entry-content .woocommerce .products .added_to_cart:link, main .entry-content .woocommerce .products .added_to_cart:visited {
    display: block;
    color: #000;
    font-family: "Source Sans Pro", sans-serif;
    padding-top: 10px;
  }
}
/*# sourceMappingURL=product_category.css.map */